<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="blog-title text-center mt-4 py-4">
      <h1 class="fw-bold">Upgrade your knowledge by daily Articals</h1>
      <h5>We post daily to incourage programmers link you to motivate.</h5>
    </div>
    <div class="container  mt-4 d-flex gap-2 justify-content-center">
      <% blogs.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <img
          src="<%= blog.coverImage %>"
          class="card-img-top"
          alt="<%= blog.title %>"
          height="200px"
          style="object-fit: cover"
        />
        <div class="card-body d-flex flex-column justify-content-between gap-2">
          <h5
            class="card-title"
            style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
          >
            <%= blog.title %>
          </h5>
          <!-- <pre class="card-text"><%= blog.body %></pre> -->
          <a
            href="/blog/<%= blog._id %>"
            class="btn btn-dark w-auto"
            style="align-self: start"
          >
            Read More
          </a>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
