<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="blog-title text-center mt-4 py-4">
      <h1 class="fw-bold">Upgrade your knowledge by daily Articals</h1>
      <h5>We post daily to incourage programmers link you to motivate.</h5>
    </div>
    <div class="container my-4 row d-flex gap-3 justify-content-center mx-auto">
      <% blogs.forEach(blog => { %>
      <div class="card col-3 px-0" style="width: 18rem">
        <% if (blog.coverImage) { %>
        <img
          src="/uploads/<%= blog.coverImage %>"
          class="card-img-top"
          alt="<%= blog.title %>"
          height="200px"
          style="object-fit: cover"
        />
        <% } %>
        <div class="card-body d-flex flex-column justify-content-between gap-2">
          <h5
            class="card-title"
            style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
          >
            <%= blog.title %>
          </h5>
          <!-- <pre class="card-text"><%= blog.body %></pre> -->
          <div class="btns d-flex align-items-center justify-content-between">
            <a
              href="/blog/<%= blog._id %>"
              class="btn btn-dark w-auto"
              style="align-self: start"
            >
              Read More
            </a>
            <% if (locals.user) { %>

            <div class="del-edit d-flex gap-1">
              <a
                href="/blog/<%= blog._id %>/edit"
                type="submit"
                class="bg-body-secondary p-2 rounded-2 border-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.2em"
                  height="1.2em"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="#666"
                    d="M28.565 3.434a4.89 4.89 0 0 0-6.915 0L4.357 20.73a3.7 3.7 0 0 0-1.002 1.84l-1.333 6.22a1 1 0 0 0 1.188 1.188l6.22-1.333a3.7 3.7 0 0 0 1.84-1.002l17.295-17.295a4.89 4.89 0 0 0 0-6.914m-5.5 1.414a2.89 2.89 0 0 1 4.085 4.086l-.9.9l-4.086-4.085zm-2.316 2.315l4.086 4.086L9.857 26.23a1.7 1.7 0 0 1-.846.46L4.3 27.7l1.01-4.71a1.7 1.7 0 0 1 .46-.846z"
                  />
                </svg>
              </a>
              <form action="/blog/<%= blog._id%>?_method=DELETE " method="post">
                <button
                  type="submit"
                  class="bg-body-secondary p-2 rounded-2 border-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5em"
                    height="1.5em"
                    viewBox="0 0 72 72"
                  >
                    <path
                      fill="#fff"
                      d="M51.76 17H20.153v37.65c0 4.06 3.29 5.62 7.35 5.62H44.41c4.06 0 7.35-1.56 7.35-5.62zM31 16v-4h10v4"
                    />
                    <path fill="#9b9b9a" d="M51 37v20.621L48.3 60H33z" />
                    <path fill="#fff" d="M17 16h38v4H17z" />
                    <path
                      fill="none"
                      stroke="#ff1111"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                      d="M31 16v-4h10v4m10 9v31a4 4 0 0 1-4 4H25a4 4 0 0 1-4-4V25m-4-9h38v4H17zm24 12.25V55M31 28.25V55"
                    />
                  </svg>
                </button>
              </form>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <!-- <%- include('./partials/footer') %> -->
    <%- include('./partials/script') %>
  </body>
</html>
