<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-4 d-flex gap-2">
      <% blogs.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <img
          src="<%= blog.coverImage %>"
          class="card-img-top"
          alt="<%= blog.title %>"
          height="200px"
          style="object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <!-- <pre class="card-text"><%= blog.body %></pre> -->
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
