<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <% blogs.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <img
          src="<%= blog.coverImage %>"
          class="card-img-top"
          alt="<%= blog.title %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><%= blog.body %></p>
          <a href="/blog/<%= blog.title %>" class="btn btn-primary"
            >Read More</a
          >
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
